.clfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clfix {
  display: block;
}
.calendaWrap {
  position: relative;
}
.calenda {
  display: none;
  width: 225px;
  position: absolute;
  left: 14px;
  top: 24px;
  background: url(../img/calenda/background.png) no-repeat left top;
  z-index: 1000;
}
.calenda .topBox {
  padding-top: 4px;
  width: 100%;
  height: 28px;
}
.calenda .topBox div {
  width: 50%;
  height: 28px;
  float: left;
}
.calenda .topBox div.year {
  position: relative;
  width: 113px;
  height: 28px;
  float: left;
}
.calenda .topBox div.month {
  position: relative;
  width: 112px;
  height: 28px;
  float: left;
}
.calenda .topBox div.year a,
.calenda .topBox div.month a {
  display: inline-block;
  width: 100%;
  height: 28px;
}
.calenda .topBox .year strong {
  font-size: 13px;
  color: #fff;
  text-align: left;
  width: 71px;
  padding-left: 42px;
  display: inline-block;
  margin-top: 5px;
  background: url(../img/calenda/arrow_top.png) no-repeat 92px 1px;
}
.calenda .topBox .month strong {
  font-size: 13px;
  color: #fff;
  text-align: left;
  width: 78px;
  padding-left: 34px;
  display: inline-block;
  margin-top: 5px;
  background: url(../img/calenda/arrow_top.png) no-repeat 70px 1px;
}

.calenda .yearBox {
  position: absolute;
  left: 29px;
  top: 32px;
  background: #fff;
  border: 1px solid #3786c4;
  width: 76px;
  padding: 2px 0 5px 4px;
  margin-top: -1px;
}
.calenda .yearBox ul {
  height: 128px;
  width: 100%;
  overflow-y: scroll;
}
.calenda .yearBox ul li a {
  color: #555;
  font-size: 12px;
  display: block;
  line-height: 1.6em;
  padding: 1px 1px 1px 14px;
}
.calenda .yearBox ul li a:hover {
  background: url(../img/calenda/arrow_right.png) no-repeat 48px center;
  border: 1px solid #3786c4;
  padding: 0 0 0 13px;
}

.calenda .monthBox {
  position: absolute;
  left: 127px;
  top: 32px;
  background: #fff;
  border: 1px solid #3786c4;
  width: 76px;
  padding: 2px 0 5px 4px;
  margin-top: -1px;
}
.calenda .monthBox ul {
  height: 128px;
  width: 100%;
  overflow-y: scroll;
}
.calenda .monthBox ul li a {
  color: #555;
  font-size: 12px;
  display: block;
  line-height: 1.6em;
  padding: 1px 1px 1px 14px;
}
.calenda .monthBox ul li a:hover {
  background: url(../img/calenda/arrow_right.png) no-repeat 48px center;
  border: 1px solid #3786c4;
  padding: 0 0 0 13px;
}

.calenda table {
  margin-right: 1px;
  width: 224px;
  font-size: 13px;
  line-height: 15px;
  background: url(../img/calenda/month_bg.png) repeat-x left top;
}
.calenda table thead th {
  color: #586170;
  padding: 7px 0 5px;
  background-color: transparent !important;
  border-width: 0;
}
.calenda table thead th:first-child {
  border-left: 1px solid #a7a7a7;
}
.calenda table tbody td {
  padding: 0;
  border-left: 1px solid #e4e4e6;
  border-bottom: 1px solid #e4e4e6;
  border-right: none;
  text-align: center;
  background: none;
}
.calenda table tbody td:first-child {
  border-left: 1px solid #a7a7a7;
}
.calenda table tbody td a {
  color: #555;
  padding: 5px 1px;
  display: inline-block;
  width: 29px;
}
.calenda table tbody td a:hover {
  border: 1px solid #2888f4;
  padding: 4px 0px;
}
.calenda table tbody td a.on {
  background: #3688e1;
  color: #fff;
  font-weight: bold;
}
.calenda table tbody td.grayTxt a {
  color: #999;
}
.calenda table tbody tr.last td {
  border-bottom: 1px solid #a7a7a7;
}
