@charset "utf-8";

body {
  min-width: 1024px;
}
html {
  width: 100%;
  height: 100%;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
body {
  position: relative;
  height: 100%;
  background-color: #fff;
  font-size: 13px;
  color: #000;
  font-family: dotum;
}
section,
nav,
article,
aside,
hgroup,
header,
footer {
  display: block;
}
input,
textarea,
select,
button,
table,
select {
  font-size: inherit;
  font-family: dotum, Helvetica, AppleGothic, sans-serif;
  line-height: inherit;
}
img,
fieldset {
  border: 0;
}
ul,
ol {
  list-style: none;
}
em,
address {
  font-style: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
section,
article,
header,
footer,
aside,
nav {
  display: block;
}
button {
  border: 0;
  background: none;
}
.areaHidden {
  overflow: hidden;
}

ul,
dl,
ol,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
p,
th,
td {
  margin: 0px;
  padding: 0px;
}
ul,
ol,
li {
  list-style-type: none;
}

fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  display: none;
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  font: 0/0 arial;
}
form {
  margin: 0px;
  padding: 0px;
}
textarea {
  padding: 5px;
  border: 1px solid #d0d3d4;
  resize: none;
  color: #222;
  -webkit-appearance: none;
}
input.inputTxt {
  height: 22px;
  line-height: 20px;
  padding-left: 8px;
  border: 1px solid #d0d3d4;
  color: #aaa;
  -webkit-appearance: none;
  border-radius: 0;
  background: transparent;
}
input.inputTxtB {
  height: 26px;
  line-height: 24px;
  padding-left: 8px;
  border: 1px solid #d0d3d4;
  color: #aaa;
  -webkit-appearance: none;
  border-radius: 0;
  background: transparent;
}
.inputAuto {
  display: block;
  height: 22px;
  padding-left: 8px;
  border: 1px solid #d0d3d4;
  color: #aaa;
}
.inputAuto input {
  border: 0;
  padding: 0;
  height: 22px;
  color: #aaa;
  line-height: 20px;
}
.editTxt {
  border: 1px solid #d0d3d4;
  padding: 10px;
}
.editTxt textarea {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
}

label {
  margin-right: 5px;
  vertical-align: middle;
}

table {
  clear: both;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  font: 0/0 arial;
}

.clfix:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.clfix {
  display: inline-block;
}
.clfix {
  display: block;
}
* html .clfix {
  height: 1%;
}
.clfix {
  zoom: 1;
}

a {
  text-decoration: none;
  color: #000;
}
a:visited {
  text-decoration: none;
  color: #000;
}
a:active {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}

.mx100 {
  max-width: 100%;
}

.pd0 {
  padding: 0 !important;
}
.pdt0 {
  padding-top: 0 !important;
}
.pdb0 {
  padding-bottom: 0 !important;
}
.pdl0 {
  padding-left: 0 !important;
}
.pdr0 {
  padding-right: 0 !important;
}

.pdt25 {
  padding-top: 25px !important;
}
.pdt40 {
  padding-top: 40px !important;
}

.pdb5 {
  padding-bottom: 5px !important;
}

.pdl20 {
  padding-left: 20px !important;
}

.mg0 {
  margin: 0 !important;
}
.mgt0 {
  margin-top: 0 !important;
}
.mgb0 {
  margin-bottom: 0 !important;
}
.mgl0 {
  margin-left: 0 !important;
}
.mgr0 {
  margin-right: 0 !important;
}

.mgt5 {
  margin-top: 5px !important;
}
.mgt7 {
  margin-top: 7px !important;
}
.mgt10 {
  margin-top: 10px !important;
}
.mgt15 {
  margin-top: 15px !important;
}
.mgt20 {
  margin-top: 20px !important;
}
.mgt25 {
  margin-top: 25px !important;
}
.mgt30 {
  margin-top: 30px !important;
}
.mgt35 {
  margin-top: 35px !important;
}
.mgt40 {
  margin-top: 40px !important;
}
.mgt60 {
  margin-top: 60px;
}

.mgl5 {
  margin-left: 5px !important;
}
.mgl10 {
  margin-left: 10px !important;
}
.mgl15 {
  margin-left: 15px !important;
}
.mgl20 {
  margin-left: 20px !important;
}
.mgl30 {
  margin-left: 30px !important;
}
.mgl35 {
  margin-left: 35px !important;
}

.mgr20 {
  margin-right: 20px !important;
}

.mgb5 {
  margin-bottom: 5px !important;
}
.mgb10 {
  margin-bottom: 10px !important;
}
.mgb15 {
  margin-bottom: 15px !important;
}
.mgb20 {
  margin-bottom: 20px !important;
}
.mgb25 {
  margin-bottom: 25px !important;
}
.mgb40 {
  margin-bottom: 40px !important;
}
.mgb50 {
  margin-bottom: 50px !important;
}

.mgrpw20 {
  margin-right: 0 !important;
}

.bd0 {
  border: 0 !important;
}

.cutSt {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

.fnone {
  float: none !important;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.cboth {
  clear: both;
}

.txtGyA {
  color: #222;
}
.txtblA {
  color: #2072b8;
}

.fdot {
  font-family: Dotum !important;
}
.fmlg {
  font-family: "NanumGothicWeb";
}
.fvdn {
  font-family: Verdana;
}

.dotB19a1c {
  color: #b19a1c !important;
  font-family: dotum !important;
}

.font0 {
  font: 0/0 arial;
}
.fs13 {
  font-size: 13px !important;
}
.fsn {
  font-size: 13px !important;
}
.fss {
  font-size: 13px !important;
}

.fwn {
  font-weight: normal !important;
}
.fwb {
  font-weight: bold !important;
}

.ln20 {
  line-height: 20px;
}

.vat {
  vertical-align: top !important;
}
.vam {
  vertical-align: middle !important;
}
.vab {
  vertical-align: bottom !important;
}
.agl {
  text-align: left !important;
}
.agc {
  text-align: center !important;
}
.agr {
  text-align: right !important;
}
.vamAll * {
  vertical-align: middle !important;
}
.vatAll * {
  vertical-align: top !important;
}

.hidden {
  display: none;
}
.blind {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}
.bobn {
  border-bottom: 0 !important;
}
.bgnone {
  background: none !important;
}
.bgGray {
  background: #f5f4fc !important;
}
.tabShowCnt {
  display: none;
}
.bot0 {
  border-top: 0 !important;
}

.hidden-obj {
  position: absolute;
  visibility: hidden;
  top: -9000px;
  left: -9000px;
}
.display-none {
  display: none;
}
.text-c {
  text-align: center !important;
}
.text-l {
  text-align: left !important;
}
.text-r {
  text-align: right !important;
}
.vertical-t {
  vertical-align: top !important;
}
.vertical-m {
  vertical-align: middle !important;
}
.vertical-b {
  vertical-align: bottom !important;
}
.float-l {
  float: left !important;
}
.float-r {
  float: right !important;
}
.float-n {
  float: none !important;
}
.bg-none {
  background: none !important;
}
.border-none {
  border: none !important;
}
