#wrap {
  height: 100%;
  min-width: 1290px;
  width: 100%;
  background: #fff;
}
.minWidth {
  min-width: 944px;
  margin: 0 40px;
}
.infoArea {
  height: 48px;
  background: url(assets/img/layout/bg_header.gif) left top repeat-x;
  border-bottom: 2px solid #3275c0;
}
.topLt {
  float: left;
  min-width: 700px;
  margin-top: 12px;
}
.logo {
  float: left;
  margin: 0 30px 0 0 !important;
}
.topSrcArea {
  background: url(assets/img/gnbBar/bg_top_blue_src.png) no-repeat left;
  width: 249px;
  height: 23px;
  padding: 1px 0 0 1px;
  margin-right: 10px;
  background: url(assets/img/gnbBar/bg_top_blue_src.png) left top no-repeat;
}
.topSrcArea .srcIpt {
  width: 210px;
  height: 22px;
  line-height: 22px;
  text-indent: 5px;
  border: 0;
  -webkit-appearance: none;
  border-radius: 0;
  background: transparent;
}
*:first-child + html .topSrcArea {
  height: 24px;
  padding: 0 0 0 1px;
}
.btnSrc {
  position: absolute;
  right: 0;
  top: 0;
  width: 31px;
  height: 24px;
  border: 0;
  cursor: pointer;
  background: url(assets/img/layout/bg_top_blue_src.png) left top no-repeat;
}
.alertTxt {
  height: 12px;
  height: 11px\9;
  overflow: hidden;
  float: left;
  height: 13px;
  height: 12px\9;
  margin-top: 6px;
}
.alertTxt a {
  font-size: 13px;
}
.columnWrap {
  margin-top: 20px;
  padding: 0 230px 0 162px;
}
.ltArea {
  float: left;
  position: relative;
  left: -162px;
  width: 162px;
  height: 100%;
  min-height: 100%;
}
.ctArea {
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 650px;
  margin: 0 -230px 0 -162px;
  background-color: #fff;
}
.cntArea {
  margin: 0 12px;
}
.rtArea {
  float: right;
  position: relative;
  left: 230px;
  width: 230px;
  height: 100%;
  min-height: 100%;
}
.lnbList {
  margin-bottom: 5px;
  border: 1px solid #d5d5d5;
}
.lnbList li {
  height: 31px;
  border-top: 1px solid #d5d5d5;
}
.lnbList li:first-child {
  border-top: 0;
}
.lnbList li a {
  display: block;
  height: 31px;
  line-height: 31px;
  text-indent: 21px;
}
.lnbList li a:hover,
.lnbList li a.crt {
  background: #77a9e3;
  font-weight: bold;
  color: #fff;
}
.lnbBanArea li {
  margin-bottom: 5px;
}
.lnbBanArea li * {
  vertical-align: top;
}
#footer {
  height: 36px;
  margin-top: 40px;
  text-align: center;
  background: #aeaeae;
  width: 100%;
  bottom: 0;
}
#footer img {
  padding-top: 14px;
}
.innFooter {
  position: relative;
  min-width: 944px;
  height: 100%;
}
.innFooter p {
  color: #fafafa;
  font-size: 15px;
  line-height: 36px;
}
.btnPrivate {
  position: absolute;
  right: 5px;
  top: 12px;
  font-size: 11px;
  color: #fff !important;
  text-decoration: none;
}
.ecmWrap {
  position: relative;
  min-width: 1024px;
  margin-bottom: -40px;
  padding-top: 2px;
  background: url(assets/img/layout/bg_ecmWrap.gif) 0 0 repeat-x;
}
.ecmWrap .ecmContent {
  padding: 0 222px;
  overflow: hidden;
}
.ecmWrap .ecmContent:after {
  display: block;
  clear: both;
  content: "";
}
.ecmWrap .informContent {
  padding: 0 0 0 222px;
}
.ecmContent .areaL {
  z-index: 10;
  float: left;
  position: relative;
  left: -222px;
  width: 196px;
  min-height: 910px;
  padding: 10px 12px 0;
  border-right: 1px solid #ddd;
}
.ecmContent .areaC {
  float: left;
  position: relative;
  width: 100%;
  margin: 0 -216px 0 -222px;
  min-height: 740px;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
}
.ecmContent .areaC:before {
  position: absolute;
  left: -222px;
  width: 196px;
  height: 100%;
  padding: 0 12px;
  background: #f6f6f6;
  border-right: 1px solid #ddd;
}
.informContent .areaC {
  border-right: 0;
}
.ecmContent .areaR {
  float: right;
  position: relative;
  left: 214px;
  width: 213px;
  min-height: 1020px;
}
.clfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clfix {
  display: inline-block;
  display: block;
  zoom: 1;
}
* html .clfix {
  height: 1%;
}
.fnone {
  float: none !important;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.cboth {
  clear: both;
}
.mx100 {
  max-width: 100%;
}
.logo * {
  display: inline-block;
  vertical-align: top;
}
.logo .logo_ci {
  float: left;
  margin-top: -2px;
}
.logo .logo_sys {
  float: left;
  padding: 0 0 0 16px;
  margin-top: 6px;
  margin-left: 14px;
  background: url(assets/img/gnbBar/bg_logo_bar.gif) no-repeat 0 0;
}
.logo .logo_sys > img {
  margin: 0 0 -1px;
}
.alertTxtWrap {
  position: relative;
  float: left;
  z-index: 100;
}
*:first-child + html .alertTxt {
  padding-left: 4px;
}
.ticker a {
  font-size: 11px;
}
.ticker .count {
  display: inline-block;
  width: 12px;
  height: 11px;
  text-indent: -2px;
  font: 9px/11px verdana;
  text-align: center;
  color: #fff;
  letter-spacing: -2px;
  background: url(assets/img/gnbBar/bg_fav_count.gif) left top no-repeat;
}
.favMoreView {
  float: left;
  width: 7px;
  height: 4px;
  margin: 11px 0 0 4px;
  background: url(assets/img/gnbBar/btn_fav_arrw01.gif) left top no-repeat;
}
.favMoreView em {
  display: none;
}
.lpFavKeyword {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 108px;
  border: 1px solid #3275c0;
  background: #fff;
  z-index: 50;
}
.lpFavKeyword dt {
  padding: 10px 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #b3d1e9;
  color: #5f84bb;
  font-weight: bold;
}
.lpFavKeyword dd {
  padding: 0 15px 15px;
}
.lpFavKeyword dd .ticker li {
  margin-top: 10px;
}
.lpFavKeyword dd .ticker li:first-child {
  margin-top: 0;
}
.btnClose {
  position: absolute;
  right: 6px;
  top: 10px;
  padding: 3px 3px 3px !important;
}
*:first-child + html .btnClose {
  position: absolute;
  right: 6px;
  top: 7px;
  padding: 3px 3px 3px !important;
}
.topRt {
  float: right;
  margin-top: 13px;
}
.psnName {
  position: relative;
  float: left;
  margin: 6px 18px 0 0;
}
.lpPsnName {
  display: none;
  position: absolute;
  right: 0;
  top: 14px;
  width: 182px;
  padding: 8px 3px;
  border: 1px solid #c8c8c8;
  background: #fff;
  z-index: 11;
}
.lpPsnName li a {
  display: block;
  height: 21px;
  padding: 0 0 0 15px;
  line-height: 21px;
  color: #222;
}
.lpPsnName li a:hover {
  background: #eee;
}
.totalBg {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
  z-index: 9;
}
.totalBg.bgOpen {
  display: block;
}
.alertMsg {
  float: left;
  position: relative;
  margin-right: 15px;
}
.alertMsg .msgArea {
  display: inline-block;
  height: 22px;
  padding-left: 10px;
}
.alertMsg .msgArea strong {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding-right: 10px;
  margin-right: -10px;
  color: #fff;
}
.alertMsg .msgArea.on {
  background-position: 0 0;
}
.alertMsg .msgArea.on strong {
  background-position: 100% 0;
}
.alertMsg .msgNew {
  position: absolute;
  left: -7px;
  top: -4px;
}
.chgLangWrap {
  float: left;
}
.langNotChg {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
.goog-tooltip {
  display: none !important;
}
.goog-tooltip:hover {
  display: none !important;
}
.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.goog-te-gadget-simple {
  border: 0 !important;
  padding: 0;
  background: none !important;
}
.goog-te-gadget-simple img {
  display: none;
}
.goog-te-menu-value {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(assets/img/gnbBar/btn_chg_lang.png) left top no-repeat;
}
.goog-te-menu-value span {
  display: none;
}
.goog-te-menu-frame a {
  font-size: 12px;
}
.loading_confirm {
  z-index: 9999;
  position: absolute;
  min-width: 190px;
  padding: 15px 20px;
  text-align: center;
  background: #fff;
  border: 1px solid #d6d6d6 !important;
  border-radius: 5px;
}
.loading_confirm > p {
  margin: 0;
  line-height: 32px;
  color: #333;
  white-space: nowrap;
}
.loading_confirm > p > img {
  display: block;
  margin: 0 auto;
}
.loading_confirm > a {
  display: inline-block;
  margin-top: 5px;
  padding: 2px 18px 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  background: #4396f4;
  border: 1px solid #4396f4;
  border-radius: 5px;
}
