.wrapBody {
  width: 800px;
  min-width: auto;
  top: 0px !important;
  position: relative;
  height: 100%;
  background-color: #fff;
  font: 13px dotum;
  color: #000;
}
.contentList {
  max-height: 62px;
}
.search {
  float: left;
  width: 142px;
  margin-left: 5px;
}
.contentsNameEdit .floatL {
  float: left;
  padding-top: 4px;
  color: #555;
  line-height: 29px;
}
.contentsNameEdit .floatL input {
  height: 19px;
  line-height: 19px;
  border: 1px solid #ccc;
  width: 600px;
}
.contentsNameEdit .floatL img {
  margin-right: 6px;
  vertical-align: middle;
}
.popLayerWrap .contents {
  max-height: 490px;
  min-height: 490px;
}
.contentList .list li .floatR .btnChk {
  float: left;
  height: 21px;
  margin-right: 5px;
}
.contentList .list li .floatR .btnDel {
  float: left;
  height: 21px;
  margin-right: 5px;
}
.safe_btn_box a.btn_safe1.disabled,
.safe_btn_box .btn_safe2.disabled {
  cursor: default;
  color: #9a9a9a;
  background-position: 0 -40px;
}
.safe_btn_box a.btn_safe3.disabled,
.safe_btn_box a.btn_safe3.off {
  cursor: default;
  color: #9a9a9a;
  background-position: -242px -40px;
}
.safe_btn_box a.btn_safe4.disabled,
.safe_btn_box a.btn_safe4.off {
  cursor: default;
  color: #9a9a9a;
  background-position: -356px -40px;
}
.safe_btn_box a.btn_safe5.disabled,
.safe_btn_box a.btn_safe5.off {
  cursor: default;
  color: #9a9a9a;
  background-position: -469px -40px;
}
.safe_btn_box a.btn_safe6.disabled,
.safe_btn_box a.btn_safe6.off {
  cursor: default;
  color: #9a9a9a;
  background-position: -589px -40px;
}
.file_invalid {
  color: red;
  font-weight: bold;
}
